In [2]:
import numpy as np                 
import pandas as pd 
import matplotlib.pyplot as plt     
import seaborn as sns 
import geopandas

In [3]:
crime = pd.read_csv('data_crime_1217_clean.csv')

In [4]:
crime = crime[crime['Primary Type']!='LIQUOR LAW VIOLATION']
crime = crime[crime['Primary Type']!='ARSON']
crime = crime[crime['Primary Type']!='KIDNAPPING']
crime = crime[crime['Primary Type']!='STALKING']
crime = crime[crime['Primary Type']!='INTIMIDATION']
crime = crime[crime['Primary Type']!='OBSCENITY']
crime = crime[crime['Primary Type']!='HOMICIDE']
crime = crime[crime['Primary Type']!='PUBLIC INDECENCY']
crime = crime[crime['Primary Type']!='CONCEALED CARRY LICENSE VIOLATION']
crime = crime[crime['Primary Type']!='NON-CRIMINAL']
crime = crime[crime['Primary Type']!='OTHER NARCOTIC VIOLATION']
crime = crime[crime['Primary Type']!='NON - CRIMINAL']
crime = crime[crime['Primary Type']!='HUMAN TRAFFICKING']
crime = crime[crime['Primary Type']!='NON-CRIMINAL (SUBJECT SPECIFIED)']

# Arrest Rate by Crime Type

In [5]:
types = crime.groupby(by=['Primary Type']).agg({'Arrest':'sum','ID':'count'})
types['rate'] = types['Arrest']/types['ID']

In [6]:
types = types.sort_values('rate', ascending=False)

In [7]:
types.reset_index(inplace=True)

In [8]:
types.dtypes

Primary Type     object
Arrest            int64
ID                int64
rate            float64
dtype: object

In [9]:
#types.to_csv("FINAL_type_rate.csv")

In [10]:
types

                        Primary Type  Arrest      ID      rate
0                           GAMBLING    1846    1853  0.996222
1                       PROSTITUTION    6278    6311  0.994771
2                          NARCOTICS  108823  109714  0.991879
3   INTERFERENCE WITH PUBLIC OFFICER    4327    4575  0.945792
4                  WEAPONS VIOLATION    9941   12090  0.822250
5             PUBLIC PEACE VIOLATION    7923   10288  0.770121
6                  CRIMINAL TRESPASS   20174   27458  0.734722
7                        SEX OFFENSE     879    3205  0.274259
8                            ASSAULT   15943   63675  0.250381
9                            BATTERY   44593  187642  0.237649
10                     OTHER OFFENSE   12825   61262  0.209347
11        OFFENSE INVOLVING CHILDREN    1360    7590  0.179183
12                DECEPTIVE PRACTICE    7659   46558  0.164504
13               CRIM SEXUAL ASSAULT     575    4275  0.134503
14                             THEFT   26930  234716  0.114734
15                           ROBBERY    4190   39491  0.106100
16                   CRIMINAL DAMAGE    7626  108507  0.070281
17               MOTOR VEHICLE THEFT    2899   43785  0.066210
18                          BURGLARY    3537   61045  0.057941

# Arrest Rate by Community Area

In [13]:
com = crime.groupby(by=['Community Area Name']).agg({'Arrest':'sum','ID':'count'})
com['rate'] = com['Arrest']/com['ID']

In [14]:
com = com.sort_values('rate')

In [15]:
com

                        Arrest     ID      rate
Community Area Name
Lincoln Park              1803  15201  0.118611
Forest Glen                211   1698  0.124264
Hyde Park                  705   5632  0.125178
Beverly                    511   3598  0.142023
Edison Park                138    967  0.142709
North Center               857   5748  0.149095
Mount Greenwood            344   2238  0.153709
Norwood Park               712   4506  0.158012
West Town                 4470  28206  0.158477
Irving Park               1878  11583  0.162134
Montclare                  368   2210  0.166516
Kenwood                    948   5501  0.172332
Dunning                   1054   6073  0.173555
North Park                 572   3270  0.174924
Calumet Heights           1025   5749  0.178292
Clearing                   687   3793  0.181123
Logan Square              3601  19869  0.181237
Avondale                  1708   9313  0.183400
Bridgeport                1199   6537  0.183417
Ashburn                   1701   9232  0.184250
Oakland                    445   2394  0.185881
West Elsdon                768   4115  0.186634
West Ridge                2410  12600  0.191270
Lake View                 4305  22271  0.193301
Lincoln Square            1408   7234  0.194636
Jefferson Park             874   4453  0.196272
Archer Heights             787   3947  0.199392
Avalon Park               1178   5649  0.208532
Albany Park               1931   9159  0.210831
Hegewisch                  501   2313  0.216602
...                        ...    ...       ...
South Deering             1940   7607  0.255028
Washington Heights        3205  12513  0.256134
West Lawn                 1994   7735  0.257789
Hermosa                   1707   6572  0.259738
Douglas                   2417   9252  0.261241
Gage Park                 2633   9746  0.270162
Grand Boulevard           3514  12982  0.270682
South Chicago             5548  19838  0.279665
Loop                      7379  26110  0.282612
South Lawndale            4974  17468  0.284749
Rogers Park               4179  14671  0.284848
Washington Park           3135  10972  0.285727
Auburn Gresham            8514  29476  0.288845
Pullman                   1202   4139  0.290408
West Pullman              4925  16919  0.291093
Chatham                   6859  23414  0.292944
Greater Grand Crossing    7865  26228  0.299870
Englewood                 8445  27728  0.304566
Roseland                  8459  27703  0.305346
Chicago Lawn              7877  25303  0.311307
Woodlawn                  5059  15991  0.316365
West Englewood            9609  29928  0.321071
Uptown                    4703  14559  0.323030
New City                  6737  20165  0.334094
Fuller Park               1281   3606  0.355241
North Lawndale           12772  32536  0.392550
Austin                   27484  68356  0.402072
East Garfield Park        8472  20596  0.411342
Humboldt Park            14396  34412  0.418342
West Garfield Park       11070  22270  0.497081

[77 rows x 3 columns]

# Arrest Rate by Police Beat

In [ ]:
beat = crime.groupby(by=['Beat']).agg({'Arrest':'sum','ID':'count'})
beat['rate'] = beat['Arrest']/beat['ID']

In [ ]:
beat = beat.sort_values('rate', ascending=False)

In [ ]:
beat

In [ ]:
beat['rate'].hist(figsize=(20,20))
plt.title('Arrest Rate Distributions by Police Beat')

# Police Beats: Highest and Lowest Arrest Rates
#### Which types of crimes are most prevelant?

In [ ]:
beat2131 = crime[crime['Beat']==2131]

In [ ]:
beat1114 = crime[crime['Beat']==1115]

### Beat 2131 Crimes by Count

In [ ]:
beat2131.groupby(by=['Primary Type']).agg({'ID':'count'}).sort_values('ID', ascending=False)

### Beat 1114 Crimes by Count

In [ ]:
beat1114.groupby(by=['Primary Type']).agg({'ID':'count'}).sort_values('ID', ascending=False)

# Per Capita Income (Com Areas) / Arrest Rate

In [ ]:
pci = crime.groupby(by=['PER CAPITA INCOME ']).agg({'Arrest':'sum','ID':'count'}).sort_values('PER CAPITA INCOME ')
pci['rate'] = pci['Arrest']/pci['ID']
pci.head()

In [ ]:
pci.reset_index(inplace=True)
pci.head()

In [ ]:
pci.to_csv("FINAL_pci.csv")

In [ ]:
import statsmodels.formula.api as smf

pci.rename({"PER CAPITA INCOME ": "pci"}, axis = 'columns', inplace=True )

In [ ]:
pci.columns

In [ ]:
fig,ax=plt.subplots(figsize=(15,15))
sns.set_style("darkgrid")
ax = sns.scatterplot(x="rate", y="pci", s=100 ,data=pci)
ax.grid(True,axis='both',linewidth=2)
ax.set_xlabel('Arrest Rate',fontsize=30)
ax.set_ylabel('Per Capita Income',fontsize=30)

In [ ]:
mod=smf.ols('rate ~ np.power(pci, 2) + pci ',pci).fit()
mod.summary()

In [ ]:
corr=pci[['pci','rate']].corr()
corr.style.background_gradient()

In [ ]:
hsi = crime.groupby(by=['HARDSHIP_INDEX']).agg({'Arrest':'sum','ID':'count'})
hsi['rate'] = hsi['Arrest']/hsi['ID']
hsi.head()

In [ ]:
hsi.reset_index(inplace=True)

In [ ]:
fig,ax=plt.subplots(figsize=(15,15))
ax = sns.scatterplot(x="rate", y="HARDSHIP_INDEX", s=100 ,data=hsi)
ax.grid(True,axis='both',linewidth=2)
ax.set_xlabel('Arrest Rate',fontsize=30)
ax.set_ylabel('HSI',fontsize=30)